

.action-buttons {
  color: #fff;
  font-family: sans-serif;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  position: absolute;
  left: 20px;
  bottom: 20px;
  max-width: 300px;
  align-items: center;
  text-align: center;
}
