<app-description></app-description>
<!-- <app-model-loader
  [path]="'./assets/models-3d/AltoForno.fbx'"
  [positionY]="-58"
  [rotationY]="1.5"
  [scale]="0.2"
></app-model-loader> -->

<app-player
  [path]="'./assets/models-3d/DefaultCharacterMeshPolyart.fbx'"
  [positionY]="-58"
  [rotationX]="1.5"
  [scale]="0.2"
  [name]="'Player'"
  [gender]="'male'"
></app-player>


<app-model-loader
  [path]="'./assets/LowPolyTerrain.FBX'"
  [positionY]="-58"
  [rotationY]="1.5"
  [scale]="20"
  [color]="'#49BB58'"
></app-model-loader>

<!-- <app-wave-plane></app-wave-plane>
<app-liquid-waves></app-liquid-waves>
<app-slime-wave-plane></app-slime-wave-plane>
<app-water-wave-plane></app-water-wave-plane> -->

<app-load-text
  [text]="'Logo'"
  [name]="'Logo'"
  [positionX]="-10"
  [positionY]="15"
  [positionZ]="-10"
  [positionZ]="0"
  [fontSize]="5"
></app-load-text>

<!-- <app-teste2></app-teste2> -->

<app-physics></app-physics>
