<app-description></app-description>

<!-- <app-model-loader
  [path]="'./assets/models3d/AltoForno.fbx'"
  [positionY]="9"
  [positionZ]="-150"
  [positionX]="50"
  [name]="'AltoForno'"
  [rotationY]="1.5"
  [multiplyScalar]="0.2"
  [type]="'fbx'"
></app-model-loader> -->

<app-model-loader
  [path]="'./assets/models3d/LowPolyTerrain.FBX'"
  [rotationY]="1.5"
  [multiplyScalar]="40"
  [scaleY]="0.2"
  [color]="'#49BB58'"
  [name]="'Ground'"
  [type]="'fbx'"
></app-model-loader>

<!-- <app-text-loader
  [text]="'Logo'"
  [name]="'Logo'"
  [positionX]="-10"
  [positionY]="80"
  [positionZ]="-10"
  [positionZ]="0"
  [fontSize]="5"
></app-text-loader>

<app-model-loader
  [multiplyScalar]="50"
  [name]="'Robot'"
  [positionX]="0"
  [positionZ]="-130"
  [rotationY]="0.3"
  [path]="'assets/models3d/TacticalDroid/scene.gltf'"
></app-model-loader> -->

<app-player></app-player>
<app-socket-players></app-socket-players>
<app-physics></app-physics>
<app-audio></app-audio>
<app-individual-player
[positionX]="-50"
[positionY]="0"
[positionZ]="-500"
[actualState]="'dance'"

></app-individual-player>
