<div class="label"></div>
<div class="description-items"></div>
<div class="description-web">
  Passe o mouse sobre os itens para obter informações sobre eles.
</div>

<div class="action-buttons form-group">
  <div class="btn-group">
    <label class="btn btn-outline-secondary" (click)="edit()">
      <i class="fa-solid fa-user-astronaut"></i>
    </label>
  </div>
  <div class="btn-group">
    <label class="btn btn-outline-secondary" (click)="edit()">
      <i class="fa-solid fa-apple-whole"></i>
    </label>
  </div>
  <div class="btn-group">
    <label class="btn btn-outline-secondary" (click)="edit()">
      <i class="fa-solid fa-baseball"></i>
    </label>
  </div>
  <div class="btn-group">
    <label class="btn btn-outline-secondary" (click)="edit()">
      <i class="fa-solid fa-bolt"></i>
    </label>
  </div>
</div>
